.cell {
  &-row {
    display: flex;
    align-items: center;
    padding: 30px 20px;

    &:last-child{
      border-bottom: none;
    }
    &_between {
      justify-content: space-between;
    }

    &_border {
      border-bottom: 2px solid $line-color;
    }

    &_end {
      justify-content: flex-end;
    }
  }

  &-key {
    width: 60px;
    flex: none;

    &_w120 {
      width: 120px;
    }

    i {
      font-size: 32px;
    }
  }

  &-val {
    flex-grow: 1;
    input{
      width: 100%;
      padding-left: 25px;
    }
    &_auto {
      flex-shrink: 1;
      flex-grow: initial;
    }
  }

  &-addon {
    width: 80px;
    text-align: center;
  }
}
